
.certifications-container {
    max-width: 100% !important;
    height: auto;
}

.certifications {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.certifications .certification-image {
    width: 10%;
    padding: 24px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    aspect-ratio: 1/1;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.certifications .certification-content {
    width: 80%;
}

.certifications .certification-content .carousel-inner {
    padding: 20px;
}

.certifications .certification-content .carousel-inner label {
    color: #555 !important;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 16px;
}

.certifications img {
    box-shadow: 10px 10px 10px #555;
}

.certifications .carousel-control-prev,
.certifications .carousel-control-next {
    background-color: #000;
    height: 25%;
    padding: 5px;
    width: auto;
    margin: 8.5% -20px;
}

@media (max-width: 767px) {
    .certifications {
        flex-direction: column;
        gap: 20px;
    }

    .certifications .certification-image {
        width: 25%;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .certifications .carousel-control-prev,
    .certifications .carousel-control-next {

        height: 50%;
        margin: 15% -20px;
    }
}