
h2{
    font-size: 2.5em;
    margin: 0px 0px 24px;
}

h3{
    font-size: 1.5em;
    margin: 24px 0px;
}

p{
    font-size: 1.4em;
}

label{
    font-size: 1.4em;
}

@media screen and (max-width: 1023px) {
    p {
        font-size: 1em;
    }
    label {
        font-size: 1em;
    }
}